<nav class="navbar">
  <h1 class="navbar__heading">Music</h1>
  <a href="#" class="navbar__item">Discover</a>
  <a href="#" class="navbar__item">Rising</a>
  <a href="#" class="navbar__item">Inspiration</a>
  <a href="#" class="navbar__item">My stars</a>
  <a href="#" class="navbar__item">Songs</a>
  <a href="#" class="navbar__item">Artist</a>
  <a href="#" class="navbar__item">Albums</a>
  <a href="#" class="navbar__item">Radio</a>
</nav>
