@import "../../../../scss/partials/rem";
@import "../../../../scss/partials/variables";

.playlist {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: rem(51px 35px);
  
  &::after {
    position: absolute;
    content: url(../../../../assets/svg/add.svg);
    height: rem(22.77px);
    width: rem(13.93px);
    right: rem(25px);
    cursor: pointer;
  }

  &__heading {    
    padding-bottom: rem(22px);
    font-size: rem(13px);
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
  }

  &__item {
    & + & {
      margin-top: rem(14px);
    }
  }

  &__bullet {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $playlist-bullet;
  }

  &__btn {
    font-size: rem(14px);
    color: $sidebar-text;
  }
}
